@font-face {
    font-family: 'Avenir-Next-Cyr';
    src: url('../font/Avenir-Next-Cyr-Medium.ttf') format('ttf');
    src: url('../font/Avenir-Next-Cyr-Medium.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}