@import "normalize";
@import "mixin";
@import "font";

$colorSilver: rgba(118, 118, 118, 1);
$colorOreng: #eb7047;

html, body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: "Avenir-Next-Cyr", sans-serif;
  min-width: 320px;
}

select{
  background: transparent;
}

.title{
  font-size: calc(28px + 8 * (100vw / 1992));
  font-weight: 700;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (max-width: 1400px) {
    max-width: 1200px;
  }
}

// Header ============================

.header {
      @media screen and (max-width: 992px) {
        margin-top: 55px;
      }
      // .header-wrapper__search-block

      .header-search-block {
        max-width: 539px;
        height: 50px;
        width: calc(100% - 40px);
        position: relative;
        @media screen and (max-width: 992px) {
          margin: 20px auto;
          margin-bottom: 40px;
        }
        // .header-search-block__input
  
        &__input {
          width: 70%;
          height: 100%;
          padding-right: calc(30% - 15px);
          border: 1px solid rgba(228, 228, 228, 1);
          border-radius: 4px;
          padding-left: 15px;
          @media screen and (max-width: 768px) {
            width: 90%;
            padding-right: calc(10% - 15px);
          }
          @media screen and (max-width: 576px) {
            width: 80%;
            padding-right: calc(20% - 15px);
          }
        }
  
        // .header-search-block__wrapper
  
        &__wrapper {
          position: absolute;
          top: 2px;
          right: 10px;
          height: 50px;
          display: flex;
          align-items: center;
          @media screen and (max-width: 992px) {
            right: 20px;
          }
        }
  
        // .header-search-block__select
  
        &__select {
          height: 100%;
          font-size: 14px;
          border: none;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
  
        // .header-search-block__btn
  
        &__btn {
          height: 100%;
          background: transparent;
          border: none;
          padding: 0 10px;
        }
      }

  // .header__top

  .header-top {
    padding: 14px 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(228, 228, 228, 1);
    }
    @media screen and (max-width: 992px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 11;
      background: #fff;
    }
    // .header-top__container

    &__container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      padding: 0 30px;
      // @media screen and (max-width: 768px) {
      //   flex-direction: row-reverse;
      //   font-size: 16px;
      // }
      @media screen and (max-width: 576px) {
        padding: 0 10px;
      }
    }

    & .header-wrapper__list{
      display: none;
      @media screen and (max-width: 992px) {
        display: flex;
        font-size: 18px;
      }
    }

    &__logo{
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
    }

    // .header-top__nav

    .nav {
      & .header-search-block, .header-wrapper__worck, .header-top__select{
        display: none;
        @media screen and (max-width: 992px) {
          display: block;
          padding: 0 20px;
        }
      }
      
      & .header-top__select{
        margin: 37px 0 20px 0;
      }

      &__burger {
        display: none;
        height: 100%;
        width: 40px;

        &._burger-active {
          & span {
            background: none;
            &::before {
              top: 0;
              transform: rotate(-45deg);
            }
            &::after {
              top: 0;
              transform: rotate(45deg);
            }
          }
        }
        @media screen and (max-width: 992px) {
          display: block;
        }
        & span {
          display: block;
          height: 3px;
          width: 80%;
          position: relative;
          background: #000;
          transition: all 0.3s;
          &::before,
          &::after {
            content: "";
            display: block;
            width: 120%;
            height: 3px;
            background: #000;
            position: absolute;
            top: 6px;
            transition: all 0.3s;
          }

          &::after {
            top: -6px;
          }
        }
      }

      &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        & .header-wrapper__list {
          display: none;
          @media screen and (max-width: 768px) {
            display: flex;
          }
        }

      }

      &__wrapper-burger{
        overflow: auto;
        transition: left 0.3s;
        @media screen and (max-width: 992px) {
          display: block;
          position: fixed;
          top: 54px;
          left: -150%;
          height: calc(100% - 54px);
          width: 100%;
          box-shadow: 38px -19px 32px -49px black;
          font-size: 20px;
          z-index: 0;
          background: #fff;
          &._burger-active {
            left: 0;
          }
        }
      }

      &__manu-wrapper{
        margin-bottom: 20px;
        & .block-catalog__wrapper, .catalog-sub-menu__wrapper{
          overflow: auto;
          max-height: 500px;
          &::-webkit-scrollbar {
            width: 5px;
            background-color: rgba(228, 228, 228, 1);
            border-radius: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $colorOreng;
            border-radius: 4px;
          }
        }
        & .block-catalog__menu{
          padding: 20px 0;
          border-top: 1px solid rgba(228, 228, 228, 1);
          border-bottom: 1px solid rgba(228, 228, 228, 1);
        }
        & .block-catalog__menu .block-catalog__item{
          list-style: none;
          position: relative;
          margin: 0 20px;
          &:not(:last-child){
            margin-bottom: 20px;
          }
          &::before{
            position: absolute;
            right: 0;
          }
        }
        & .block-catalog__text{
          padding: 20px;
          text-transform: uppercase;
          & span::before{
            padding-right: 10px;
            font-size: 16px;
          }
        }

        & .catalog-sub-menu__wrapper{
          border-top: 1px solid rgba(228, 228, 228, 1);
          border-bottom: 1px solid rgba(228, 228, 228, 1);
          list-style: none;
          margin: 0 20px;
          padding: 20px 0;

          & .catalog-sub-menu__item{
            &:not(:last-child){
              margin-bottom: 15px;
            }
          }
          & .catalog-sub-menu__link{
            text-decoration: none;
            color: #000;
          }
        }
        & .catalog-sub-menu__title{
          margin: 20px;
          & span::before{
            padding-right: 10px;
            font-size: 16px;
          }
        }
      }

      // .nav__manu

      &__manu {
        display: flex;
        column-gap: 20px;
        row-gap: 10;
        flex-wrap: wrap;
        list-style: none;
        overflow: auto;
        @media screen and (max-width: 992px){
          padding: 0 20px;
          flex-direction: column;
        }
        @media screen and (max-width: 768px){
          padding-bottom: 40px;
        }
        .item-noactive{
          display: none;
          @media screen and (max-width: 992px){
            display: block;
          }
        }
      }

      // .nav__item

      &__item {
        position: relative;
        @media screen and (max-width: 992px) {
          padding: 15px 0;
        }
      }

      // .nav__link

      &__link {
        text-decoration: none;
        color: $colorSilver;
        &._icon-right:before{
          position: absolute;
          right: 10px;
          top: 0;
          transform: translate(50%, 80%);
        }
        @media screen and (max-width: 992px) {
          text-transform: uppercase;
          color: #000;
        }
        @media screen and (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    // .header-top__select

    &__select {
      margin-left: 20px;
      border: none;
      color: $colorSilver;
      @media screen and (max-width: 992px){
        display: none;
      }
    }
  }

  .header-wrapper {
    position: relative;
    @media screen and (max-width: 992px) {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(228, 228, 228, 1);
    }
    @media screen and (max-width: 768px) {
      margin-top: 48px;
    }

    // .header-wrapper__container

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      padding: 28px 30px;
      @media screen and (max-width: 768px) {
        padding: 18px 30px;
      }
      @media screen and (max-width: 576px) {
        flex-direction: column;
        padding: 18px 10px;
        row-gap: 15px;
      }
    }

    // .header-wrapper__worck

    &__worck {
      line-height: 20px;
      &:not(:last-child){
        margin-bottom: 15px;
      }
      & span {
        display: block;
        font-size: 14px;
        color: $colorSilver;
      }
      & a {
        color: #000;
        text-decoration: none;
        @media screen and (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }


    // .header-wrapper__list

    &__list {
      display: flex;
      column-gap: 30px;
      list-style: none;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    // .header-wrapper__item

    &__item {
    }

    // .header-wrapper__link

    &__link {
      position: relative;
      color: #000;
      text-decoration: none;
      & span {
        position: absolute;
        bottom: -15%;
        right: -79%;
        padding: 1px 4px;
        font-size: 11px;
        background: $colorOreng;
        border-radius: 50%;
        color: #fff;
      }
    }
  }

  .header-content {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(228, 228, 228, 1);

    }

    &__shadow{
      position: fixed;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
      transition: opacity 0.1s;
      opacity: 0;
      visibility: hidden;
      &.shadow-active{
        opacity: 1;
        visibility: visible;
      }
    }
    // .header-content__container

    &__container {
      display: flex;
      @media screen and (max-width: 992px) {
        padding: 0;
      }
    }

    // .header-content__block-catalog

    .block-catalog {
      position: relative;
      z-index: 2;
      @media screen and (max-width: 992px) {
        position: fixed;
        left: 0;
        top: 129px;
        z-index: 11;
        height: calc(58% - 129px);
        width: 100%;
        display: none;
      }
      // .block-catalog__text

      &__text {
        padding: 14px 130px;
        background-color: $colorOreng;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 4px 4px 0px 0px;
        color: #fff;
          &._icon-right::before{
            display: block;
            transform: rotate(150deg);
            @media screen and (max-width: 992px) {
              display: inline-block;
            }
          }

        @media screen and (max-width: 1200px) {
          padding: 14px 90px;
        }
      }

      &__wrapper {
        background-color: #fff;
        padding: 40px 15px 40px 40px;
        border: 1px solid #e4e4e4;
        border-radius: 0px 0px 4px 4px;
        @media screen and (max-width: 992px) {
          overflow: auto;
          height: 100%;
        }
      }

      // .block-catalog__menu

      &__menu {
        list-style: none;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 5px;
          background-color: rgba(228, 228, 228, 1);
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $colorOreng;
          border-radius: 4px;
        }
      }


    

      // .block-catalog__item

      &__item {
        position: relative;
        margin-right: 40px;
        transition: background 0.3s;
        cursor: default;
        &:not(:last-child) {
          padding-bottom: 30px;
        }
        &._icon-right::before {
          position: absolute;
          right: 0;
        }
        @media (hover: hover) {
          &:hover {
            color: $colorOreng;
          }
        }
        @media screen and (max-width: 1200px) {
          margin-right: 10px;
        }
      }
    }

    // .header-content__block-body

    .block-body {
      position: relative;
      min-width: 0;

      .catalog-sub-menu {
        width: calc(100% - 40px);
        height: calc(100% - 50px);
        padding-left: 40px;
        background-color: #fff;
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        &.catalog-sub-menu-active {
          opacity: 1;
          visibility: visible;
        }
      
        // .catalog-sub-menu__title
      
        &__title {
          font-size: 26px;
          font-weight: 750;
          margin: 25px 0 15px 0;
        }
        // .catalog-sub-menu__wrapper
        &__wrapper{
          display: flex;
        }
      
        // .catalog-sub-menu__all
      
        &__column {
          list-style: none;
          &:not(:last-child){
            padding-right: calc(20px + 80 * (100vw / 1940));
          }
        }
      
        // .catalog-sub-menu__item
      
        &__item {
          &:not(:last-child){
            margin-bottom: 16px;
          }
        }
      
        // .catalog-sub-menu__link
      
        &__link {
          text-decoration: none;
          color: #000;
          transition: color 0.3s;
          cursor: pointer;
          @media (hover: hover) {
            &:hover{
              color: $colorOreng;
            }
          }
        }
      }

      // .block-body__wrapper

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 992px) {
          justify-content: center;
        }
      }

      // .block-body__menu

      &__menu {
        display: flex;
        list-style: none;
        column-gap: 40px;
        row-gap: 5px;
        margin-left: 30px;
        flex-wrap: wrap;
        @media screen and (max-width: 1200px){
          column-gap: 15px;
        }
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      // .block-body__item

      &__item {
        display: flex;
        align-items: center;
        padding: 13px 0;
        & .link-phone{
          @media screen and (max-width: 1400px) {
            font-size: 0;
          }
        }
        & .phone{
          display: none;
          @media screen and (max-width: 1400px) {
            display: block;
            font-size: 16px;
          }
        }

        & img {
          height: 24px;
          width: 24px;
          padding-right: 5px;
        }
      }

      // .block-body__link

      &__link {
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
        @media (hover: hover) {
          &:hover::before{
            width: 40%;
          }
        }
        &::before{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background-color: #000;
          transition: width 0.3s;
        }

      }

      // .block-body__contact-list

      &__contact-list {
        display: flex;
        list-style: none;
        gap: 20px;
        @media screen and (max-width: 1400px) {
          gap: 5px;
        }
        @media (hover: hover) {
          &:hover::before{
            text-decoration: underline;
          }
        }
        a{
          @media (hover: hover) {
            &:hover{
              text-decoration: underline;
            }
            &::before{
              display: none;
            }
          }
        }

      }

      // .block-body__swiper

      &__swiper {
        height: calc(100% - 86px);
        margin: 30px 0 0 30px;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 992px) {
          margin: 0;
        }
      }

      // .block-body__swiper-wrapper

      &__swiper-wrapper {
      }

      // .block-body__swiper-slide

      &__swiper-slide {
        position: relative;
        background-color: #cad7f9;
      }

      &__swiper-pagination {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 50px;
        left: 50px;
        gap: 25px;
        z-index: 1;
        @media screen and (max-width: 992px) {
          left: 20px;
          bottom: 20px;
        }
        & .swiper-pagination-bullet {
          background-color: $colorOreng;
          opacity: 1;
          transition: all 0.4s;
          & span {
            width: 8px;
            height: 8px;
            display: block;
            background-color: transparent;
            border-radius: 50%;
          }
          &.swiper-pagination-bullet-active {
            background: transparent;
            padding: 10px;
            border: 1px solid #000;
            & span {
              background-color: #000;
            }
          }
        }
      }

      &__content {
        margin: 40px 0 0 40px;
        display: block;
        text-decoration: none;
        color: #000;
        @media screen and (max-width: 992px) {
          margin: 20px 0 0 20px;
          padding-bottom: 62px;
        }
        & span {
          font-size: 18px;
          position: relative;
          color: $colorSilver;
          @media screen and (max-width: 992px) {
            display: block;
            margin-bottom: 40px;
          }
        }
      }

      // .block-body__logo

      &__logo {
        width: 146px;
        height: 129px;
        @media screen and (max-width: 992px) {
          width: 78px;
          height: 69px;
        }
      }

      // .block-body__decor

      &__decor {
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 576px) {
          width: 50%;
        }
      }

      // .block-body__text

      &__text {
        font-size: calc(28px + 20 * (100vw / 1940));
        font-weight: 750;
        line-height: 58.8px;
        position: relative;
        max-width: 500px;
        margin-bottom: 140px;
        @media screen and (max-width: 992px) {
          margin-bottom: 80px;
        }
        @media screen and (max-width: 768px) {
          line-height: 34.4px;
        }
      }
    }
  }

  // .swiper-wrapper {
  // }
  // .swiper-slide {
  // }
}

// ===================================
// Catalog ===========================

.main {

  // .main__catalog

  .catalog {

    // .catalog__conatiner
  
    &__conatiner {
    }
  
    // .catalog__title
  
    &__title {
    }
  
    // .catalog__wrappwe
  
    &__wrappwe {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: calc(20px + 55 * (100vw / 1992));
      row-gap: calc(30px + 50 * (100vw / 1992));
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
      }
    }
  
    // .catalog__item
  
    .catalog-item {
  
      // .catalog-item__link
    
      &__link {
        display: block;
        border-radius: 4px;
        margin-bottom: 20px;
        &.color-block-1{
          background: rgba(235, 96, 96, 1);
        }
        &.color-block-2{
          background: rgba(235, 188, 96, 1);
        }
        &.color-block-3{
          background-color: rgba(96, 185, 235, 1);
        }
        &.color-block-4{
          background-color: rgba(174, 96, 235, 1);
        }
        &.color-block-5{
          background-color: rgba(235, 196, 96, 1);
        }
        &.color-block-6{
          background-color: rgba(96, 126, 235, 1);
        }
        &.color-block-7{
          background-color: rgba(96, 235, 168, 1);
        }
        &.color-block-8{
          background-color: rgba(228, 63, 73, 1);
        }
        &.color-block-9{
          background-color:rgba(235, 96, 146, 1);
        }
        &.color-block-10{
          background-color: rgba(96, 235, 218, 1);
        }
        &.color-block-11{
          background-color: rgba(232, 235, 96, 1);
        }
      }
      

      // .catalog-item__img
    
      &__img {
        width: 100%;
      }
    }
  
    // .catalog__name
  
    &__name {
      font-size: calc(18px + 8 * (100vw / 1992));
      font-weight: 700;
    }
  }
}








// ===================================

