@import "normalize";
@import "mixin";
@import "font";

* {
  box-sizing: border-box;
}

$colorSilver: rgba(118, 118, 118, 1);
$colorOreng: #eb7047;

html,
body {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: "Avenir-Next-Cyr", sans-serif;
  min-width: 320px;
}

select {
  background: transparent;
}

.title {
  font-size: calc(28px + 8 * (100vw / 1992));
  font-weight: 700;
}

.btn {
  border-radius: 4px;
  padding: 14px 57px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  background-color: $colorOreng;
  color: #fff;
}

.oreng {
  color: $colorOreng;
}

.catalog-sub-menu {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.minus.minus-active{
  color: #8d8d8d;
}
.plus.plus-active{
  color: #8d8d8d;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  @media screen and (max-width: 1440px) {
    max-width: 1240px;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50px;
  gap: 25px;
  z-index: 1;
  @media screen and (max-width: 992px) {
    left: 20px;
    bottom: 20px;
  }
  & .swiper-pagination-bullet {
    position: relative;
    background-color: $colorOreng;
    opacity: 1;
    transition: all 0.4s;
    & span {
      width: 8px;
      height: 8px;
      display: block;
      background-color: transparent;
      border-radius: 50%;
      position: absolute;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
    }
    &.swiper-pagination-bullet-active {
      background: transparent;
      padding: 10px;
      border: 1px solid #000;
      & span {
        background-color: #000;
      }
    }
  }
}

// Header ============================

.header {
  @media screen and (max-width: 992px) {
    margin-top: 55px;
  }
  // .header-wrapper__search-block

  .header-search-block {
    max-width: 539px;
    height: 50px;
    width: calc(100% - 40px);
    position: relative;
    @media screen and (max-width: 992px) {
      margin: 20px auto;
      margin-bottom: 40px;
    }
    // .header-search-block__input

    &__input {
      width: 100%;
      height: 100%;
      padding-right: calc(30% - 15px);
      border: 1px solid rgba(228, 228, 228, 1);
      border-radius: 4px;
      padding-left: 15px;
      @media screen and (max-width: 768px) {
        // width: 90%;
        padding-right: calc(10% - 15px);
      }
      @media screen and (max-width: 576px) {
        // width: 80%;
        padding-right: calc(20% - 15px);
      }
    }

    // .header-search-block__wrapper

    &__wrapper {
      position: absolute;
      top: 2px;
      right: 10px;
      height: 50px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 992px) {
        right: 20px;
      }
    }

    // .header-search-block__select

    &__select {
      height: 100%;
      font-size: 14px;
      border: none;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    // .header-search-block__btn

    &__btn {
      height: 100%;
      background: transparent;
      border: none;
      padding: 0 10px;
    }
  }

  // .header__top

  .header-top {
    padding: 14px 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(228, 228, 228, 1);
    }
    @media screen and (max-width: 992px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 11;
      background: #fff;
    }
    // .header-top__container

    &__container {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      padding: 0 30px;
      // @media screen and (max-width: 768px) {
      //   flex-direction: row-reverse;
      //   font-size: 16px;
      // }
      @media screen and (max-width: 576px) {
        padding: 0 10px;
      }
    }

    & .header-wrapper__list {
      display: none;
      @media screen and (max-width: 992px) {
        display: flex;
        font-size: 18px;
        gap: 10px;
      }
    }

    &__logo {
      display: none;
      @media screen and (max-width: 992px) {
        display: block;
      }
    }

    // .header-top__nav

    .nav {
      & .header-search-block,
      .header-wrapper__worck,
      .header-top__select {
        display: none;
        @media screen and (max-width: 992px) {
          display: block;
          padding: 0 20px;
          line-height: 150%;
          margin-top: 20px;
        }
      }

      & .header-top__select {
        margin: 37px 0 20px 0;
      }

      &__burger {
        display: none;
        height: 100%;
        width: 40px;

        &._burger-active {
          & span {
            background: none;
            &::before {
              top: 0;
              transform: rotate(-45deg);
            }
            &::after {
              top: 0;
              transform: rotate(45deg);
            }
          }
        }
        @media screen and (max-width: 992px) {
          display: block;
        }
        & span {
          display: block;
          height: 3px;
          width: 80%;
          position: relative;
          background: #000;
          transition: all 0.3s;
          &::before,
          &::after {
            content: "";
            display: block;
            width: 120%;
            height: 3px;
            background: #000;
            position: absolute;
            top: 6px;
            transition: all 0.3s;
          }

          &::after {
            top: -6px;
          }
        }
      }

      &__wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        & .header-wrapper__list {
          display: none;
          @media screen and (max-width: 768px) {
            display: flex;
          }
        }
      }

      &__wrapper-burger {
        overflow: auto;
        transition: left 0.3s;
        @media screen and (max-width: 992px) {
          display: block;
          position: fixed;
          top: 54px;
          left: -150%;
          height: calc(100% - 54px);
          width: 100%;
          box-shadow: 38px -19px 32px -49px black;
          font-size: 20px;
          z-index: 0;
          background: #fff;
          &._burger-active {
            left: 0;
          }
        }
      }

      &__manu-wrapper {
        & .block-catalog__wrapper,
        .catalog-sub-menu__wrapper {
          overflow: auto;
          max-height: 500px;
          &::-webkit-scrollbar {
            width: 5px;
            background-color: rgba(228, 228, 228, 1);
            border-radius: 4px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $colorOreng;
            border-radius: 4px;
          }
        }
        & .block-catalog__menu {
          padding: 20px 0;
          border-top: 1px solid rgba(228, 228, 228, 1);
          border-bottom: 1px solid rgba(228, 228, 228, 1);
        }
        & .block-catalog__menu .block-catalog__item {
          list-style: none;
          position: relative;
          margin: 0 20px;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &::before {
            position: absolute;
            right: 0;
          }
        }
        & .block-catalog__text {
          padding: 20px;
          text-transform: uppercase;
          & span::before {
            padding-right: 10px;
            font-size: 16px;
          }
        }

        & .catalog-sub-menu__wrapper {
          border-top: 1px solid rgba(228, 228, 228, 1);
          border-bottom: 1px solid rgba(228, 228, 228, 1);
          list-style: none;
          margin: 0 20px;
          padding: 20px 0;

          & .catalog-sub-menu__item {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
          & .catalog-sub-menu__link {
            text-decoration: none;
            color: #000;
          }
        }
        & .catalog-sub-menu__title {
          margin: 20px;
          & span::before {
            padding-right: 10px;
            font-size: 16px;
          }
        }
      }

      // .nav__manu

      &__manu {
        display: flex;
        column-gap: 20px;
        row-gap: 10;
        flex-wrap: wrap;
        list-style: none;
        overflow: auto;
        @media screen and (max-width: 992px) {
          padding: 0 20px;
          flex-direction: column;
        }
        @media screen and (max-width: 768px) {
          padding-bottom: 40px;
        }
        .item-noactive {
          display: none;
          @media screen and (max-width: 992px) {
            display: block;
          }
        }
      }

      // .nav__item

      &__item {
        position: relative;
        @media screen and (max-width: 992px) {
          padding: 15px 0;
        }
      }

      // .nav__link

      &__link {
        text-decoration: none;
        color: $colorSilver;
        &._icon-right:before {
          position: absolute;
          right: 10px;
          top: 0;
          transform: translate(50%, 80%);
        }
        @media screen and (max-width: 992px) {
          text-transform: uppercase;
          color: #000;
        }
        @media screen and (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    // .header-top__select

    &__select {
      margin-left: 20px;
      border: none;
      color: $colorSilver;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  .header-wrapper {
    position: relative;
    @media screen and (max-width: 992px) {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(228, 228, 228, 1);
    }
    @media screen and (max-width: 768px) {
      margin-top: 48px;
    }

    // .header-wrapper__container

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
      padding: 28px 30px;
      @media screen and (max-width: 768px) {
        padding: 18px 30px;
      }
      @media screen and (max-width: 576px) {
        flex-direction: column;
        padding: 18px 10px;
        row-gap: 15px;
      }
    }

    // .header-wrapper__worck

    &__worck {
      line-height: 20px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      & span {
        display: block;
        font-size: 14px;
        color: $colorSilver;
      }
      & a {
        color: #000;
        text-decoration: none;
        @media screen and (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    // .header-wrapper__list

    &__list {
      display: flex;
      column-gap: 30px;
      list-style: none;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    // .header-wrapper__item

    &__item {
    }

    // .header-wrapper__link

    &__link {
      position: relative;
      color: #000;
      text-decoration: none;
      & span {
        position: absolute;
        bottom: -15%;
        right: -79%;
        padding: 1px 4px;
        font-size: 11px;
        background: $colorOreng;
        border-radius: 50%;
        color: #fff;
        @media screen and (max-width: 992px) {
          bottom: -10%;
          right: -30%;
        }
      }
    }
  }

  .header-content {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(228, 228, 228, 1);
    }

    &__shadow {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
      transition: opacity 0.1s;
      opacity: 0;
      visibility: hidden;
      &.shadow-active {
        opacity: 1;
        visibility: visible;
      }
    }
    // .header-content__container

    &__container {
      display: flex;
      @media screen and (max-width: 992px) {
        padding: 0;
      }
    }

    // .header-content__block-catalog

    .block-catalog {
      position: relative;
      z-index: 2;
      @media screen and (max-width: 992px) {
        position: fixed;
        left: 0;
        top: 129px;
        z-index: 11;
        height: calc(58% - 129px);
        width: 100%;
        display: none;
      }

      .catalog-sub-menu {
        position: absolute;
        top: 50px;
        right: calc(-296% - 40px);
        width: 308%;
        height: calc(100% - 50px);
        padding: 0 20px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        @media screen and (max-width: 1200px) {
          right: calc(-332% - 40px);
          width: 348%;
        }
        &.catalog-sub-menu-active {
          opacity: 1;
          visibility: visible;
        }
        &__title {
          font-size: 26px;
          font-weight: 750;
          margin: 25px 0 15px 0;
          & span::before {
            display: none;
            transform: rotate(150deg);
            @media screen and (max-width: 992px) {
              display: inline-block;
            }
          }
        }
        &__wrapper {
          display: flex;
          flex-wrap: wrap;
          max-width: 800px;
          column-gap: 100px;
          row-gap: 20px;
          @media screen and (max-width: 1200px) {
            column-gap: 60px;
          }
        }
        &__column {
          list-style: none;
        }
        // .catalog-sub-menu__item

        &__item {
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }

        // .catalog-sub-menu__link

        &__link {
          text-decoration: none;
          color: #000;
          transition: color 0.3s;
          cursor: pointer;
          @media (hover: hover) {
            &:hover {
              color: $colorOreng;
            }
          }
        }
      }

      // .catalog-sub-menu__all

      // .block-catalog__text

      &__text {
        padding: 14px 130px;
        background-color: $colorOreng;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 4px 4px 0px 0px;
        color: #fff;
        & span::before {
          display: none;
          transform: rotate(150deg);
          @media screen and (max-width: 992px) {
            display: inline-block;
          }
        }

        @media screen and (max-width: 1200px) {
          padding: 14px 90px;
        }
      }

      &__wrapper {
        background-color: #fff;
        padding: 40px 15px 40px 40px;
        border: 1px solid #e4e4e4;
        border-radius: 0px 0px 4px 4px;
        @media screen and (max-width: 992px) {
          overflow: auto;
          height: 100%;
        }
      }

      // .block-catalog__menu

      &__menu {
        list-style: none;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 5px;
          background-color: rgba(228, 228, 228, 1);
          border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $colorOreng;
          border-radius: 4px;
        }
      }

      // .block-catalog__item

      &__item {
        position: relative;
        margin-right: 40px;
        transition: background 0.3s;
        cursor: default;
        &:not(:last-child) {
          padding-bottom: 30px;
        }
        &.item-active {
          color: $colorOreng;
        }
        &._icon-right::before {
          position: absolute;
          right: 0;
        }
        @media (hover: hover) {
          &:hover {
            color: $colorOreng;
          }
        }
        @media screen and (max-width: 1200px) {
          margin-right: 10px;
        }
      }
    }

    // .header-content__block-body

    .block-body {
      position: relative;
      min-width: 0;

      // .block-body__wrapper

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 992px) {
          justify-content: center;
        }
      }

      // .block-body__menu

      &__menu {
        display: flex;
        list-style: none;
        column-gap: 40px;
        row-gap: 5px;
        margin-left: 30px;
        flex-wrap: wrap;
        @media screen and (max-width: 1200px) {
          column-gap: 15px;
          margin-left: 15px;
        }
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      // .block-body__item

      &__item {
        display: flex;
        align-items: center;
        padding: 13px 0;
        & .link-phone {
          @media screen and (max-width: 1400px) {
            font-size: 0;
          }
        }
        & .phone {
          display: none;
          @media screen and (max-width: 1400px) {
            display: block;
            font-size: 16px;
          }
        }

        & img {
          height: 24px;
          width: 24px;
          padding-right: 5px;
        }
      }

      // .block-body__link

      &__link {
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
        @media (hover: hover) {
          &:hover::before {
            width: 40%;
          }
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background-color: #000;
          transition: width 0.3s;
        }
      }

      // .block-body__contact-list

      &__contact-list {
        display: flex;
        list-style: none;
        gap: 20px;
        @media screen and (max-width: 1400px) {
          gap: 5px;
        }
        @media (hover: hover) {
          &:hover::before {
            text-decoration: underline;
          }
        }
        a {
          @media (hover: hover) {
            &:hover {
              text-decoration: underline;
            }
            &::before {
              display: none;
            }
          }
        }
      }

      // .block-body__swiper

      &__swiper {
        height: calc(100% - 86px);
        margin: 30px 0 0 30px;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 992px) {
          margin: 0;
        }
      }

      // .block-body__swiper-wrapper

      &__swiper-wrapper {
      }

      // .block-body__swiper-slide

      &__swiper-slide {
        position: relative;
        background-color: #cad7f9;
      }

      &__swiper-pagination {
        bottom: 30px;
        left: 30px;
      }

      &__content {
        margin: 40px 0 0 40px;
        display: block;
        text-decoration: none;
        color: #000;
        @media screen and (max-width: 992px) {
          margin: 20px 0 0 20px;
          padding-bottom: 80px;
        }
        & span {
          font-size: 18px;
          position: relative;
          color: $colorSilver;
          @media screen and (max-width: 992px) {
            display: block;
            margin-bottom: 40px;
          }
        }
      }

      // .block-body__logo

      &__logo {
        width: 146px;
        height: 129px;
        @media screen and (max-width: 992px) {
          width: 78px;
          height: 69px;
        }
      }

      // .block-body__decor

      &__decor {
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 576px) {
          width: 50%;
        }
      }

      // .block-body__text

      &__text {
        font-size: calc(28px + 20 * (100vw / 1940));
        font-weight: 750;
        line-height: 58.8px;
        position: relative;
        max-width: 500px;
        margin-bottom: 140px;
        @media screen and (max-width: 992px) {
          margin-bottom: 80px;
        }
        @media screen and (max-width: 768px) {
          line-height: 34.4px;
        }
      }
    }
  }

  // .swiper-wrapper {
  // }
  // .swiper-slide {
  // }
}

// ===================================


.main {
  // Catalog ===========================
  // .main__catalog

  .catalog {
    // .catalog__conatiner

    &__conatiner {
    }

    // .catalog__title

    &__title {
    }

    // .catalog__wrappwe

    &__wrappwe {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      column-gap: calc(20px + 55 * (100vw / 1992));
      row-gap: calc(30px + 50 * (100vw / 1992));
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
      }
    }

    // .catalog__item

    .catalog-item {
      // .catalog-item__link

      &__link {
        display: block;
        border-radius: 4px;
        margin-bottom: 20px;
        &.color-block-1 {
          background: rgba(235, 96, 96, 1);
        }
        &.color-block-2 {
          background: rgba(235, 188, 96, 1);
        }
        &.color-block-3 {
          background-color: rgba(96, 185, 235, 1);
        }
        &.color-block-4 {
          background-color: rgba(174, 96, 235, 1);
        }
        &.color-block-5 {
          background-color: rgba(235, 196, 96, 1);
        }
        &.color-block-6 {
          background-color: rgba(96, 126, 235, 1);
        }
        &.color-block-7 {
          background-color: rgba(96, 235, 168, 1);
        }
        &.color-block-8 {
          background-color: rgba(228, 63, 73, 1);
        }
        &.color-block-9 {
          background-color: rgba(235, 96, 146, 1);
        }
        &.color-block-10 {
          background-color: rgba(96, 235, 218, 1);
        }
        &.color-block-11 {
          background-color: rgba(232, 235, 96, 1);
        }
      }

      // .catalog-item__img

      &__img {
        width: 100%;
      }
    }

    // .catalog__name

    &__name {
      font-size: calc(18px + 8 * (100vw / 1992));
      font-weight: 700;
    }
  }

  // Sales leaders=========================

  .sales-leaders {
    margin-top: 60px;
    // .sales-leaders__container

    &__container {
      position: relative;
    }

    // .sales-leaders__block-title

    &__block-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

    }

    &__look-all {
      position: absolute;
      right: 20px; top: 45px;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      padding-bottom: 5px;
      color: #000;
      @media (hover: hover) {
        &:hover::before {
          width: 40%;
        }
      }
      @media screen and (max-width: 576px) {
        display: block;
        margin-top: 30px;
        text-align: center;
        position: relative;
        top: 0;
        left: 0;
        text-decoration: underline;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 0;
        background-color: #000;
        transition: width 0.3s;
      }
    }

    // .sales-leaders__title

    &__title {
    }

    // .sales-leaders__slider

    &__slider {
      padding-bottom: 50px;
    }

    // .sales-leaders__swiper-wrapper

    &__swiper-wrapper {
    }

    // .sales-leaders__swiper-slide

    &__swiper-slide {
    }

    .sales-leaders-product {
      border: 1px solid rgba(228, 228, 228, 1);
      border-radius: 4px;
      padding: 20px;
      transition: all 0.3s;
      @media (hover: hover) {
        &:hover {
          border: 1px solid $colorOreng;
        }
        &:hover .product-block-btn {
          height: auto;
        }
      }
      & a {
        display: block;
        position: relative;
        text-decoration: none;
        color: rgba(118, 118, 118, 1);
      }
      & ._icon-like::before {
        font-size: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
      }

      // .sales-leaders-product__img

      &__img {
        width: 100%;
      }

      // .sales-leaders-product__info

      &__info {
      }

      &__sub-nume {
        color: $colorSilver;
        font-size: 14px;
      }

      // .sales-leaders-product__name

      &__name {
        font-size: 18px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      &__block-price {
        & span {
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

      // .sales-leaders-product__price

      &__price {
        display: inline-block;
        font-size: 26px;
        font-weight: 700;
      }

      & .sales-leaders-product__pld-price {
        color: silver;
        position: relative;
        &::before {
          content: "";
          display: block;
          background: $colorOreng;
          position: absolute;
          top: calc(50% - 1px);
          left: 0;
          width: 100%;
          height: 1px;
          transform: rotate(358deg);
        }
      }

      .product-block-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        column-gap: 15px;
        transition: all 0.3s;
        @media (hover: hover) {
          height: 0;
          overflow: auto;
        }
        // .product-block-btn__wrapper-namber

        &__wrapper-namber {
          border: 1px solid rgba(228, 228, 228, 1);
          border-radius: 4px;
          column-gap: 15px;
          padding: 10px;
        }

        // .product-block-btn__minus

        &__minus,
        &__plus {
          border: none;
          background: transparent;
        }

        // .product-block-btn__namber

        &__namber {
        }

        // .product-block-btn__btn

        &__btn {
          color: #fff;
          @media screen and (max-width: 700px) {
            padding: 14px 18px;
          }
          @media screen and (max-width: 500px) {
            padding: 14px 57px;
          }
          @media screen and (max-width: 350px) {
            padding: 14px 50px;
          }
        }
      }
    }

    .swiper-pagination {
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 200px;
      right: 0;
      color: #000;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
  }

  // Order ============================

  .order {
    // .order__container

    &__container {
      position: relative;
    }

    // .order__block-text
    &__block-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 101px;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    &__wrapper-text {
      max-width: 560px;
      row-gap: 26px;
      background: rgba(255, 255, 255, 0.8);
      .oreng {
        display: block;
        text-transform: uppercase;
        font-size: 50px;
      }
    }

    // .order__title

    &__title {
    }

    // .order__sub-title

    &__sub-title {
      color: $colorSilver;
      a {
        margin-left: 13px;
        font-size: 26px;
        color: #000;
        text-decoration: none;
      }
    }

    // .order__text

    &__text {
      line-height: 26px;
    }

    // .order__block-form

    .order-block-form {
      max-width: 866px;
      padding: 59px;
      background-color: #fff;
      box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
      @media screen and (max-width: 900px) {
        text-align: center;
        box-shadow: none;
      }
      @media screen and (max-width: 576px) {
        padding: 59px 0;
      }
      // .order-block-form__text

      &__text {
        font-size: 20px;
        margin-bottom: 15px;
      }

      // .order-block-form__sub-text

      &__sub-text {
      }

      // .order-block-form__form

      .form {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        @media screen and (max-width: 900px) {
          flex-direction: column;
        }

        &__item {
          position: relative;
        }
        label {
          font-size: 14px;
          position: absolute;
          top: -10px;
          left: 10px;
          padding: 0 3px;
          background: #fff;
          z-index: 1;
        }
        // .form__input

        &__input {
          position: relative;
          width: 220px;
          padding: 20px;
          border-radius: 4px;
          border: 1px solid rgba(228, 228, 228, 1);
          outline: none;
          &:focus {
            border: 1px solid #000;
          }
          @media screen and (max-width: 900px) {
            width: 100%;
          }
        }

        // .form__btn

        &__btn {
          padding: 20px 50px;
        }
      }
    }

    &__img {
      position: absolute;
    }
    .order-decor {
      top: 0;
      left: 50%;
      transform: translate(-100%);
      z-index: -1;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    .order-arrow {
      bottom: 200px;
      right: 200px;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
  // =================================
  // Why we===========================

  .why-we {
    padding: 100px 0;
    @media screen and (max-width: 768px) {
      padding: 40px 0;
    }

    // .why-we__container

    &__container {
    }

    // .why-we__wrapper

    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }

    // .why-we__title

    &__title {
      text-align: center;
      @media screen and (max-width: 768px) {
        text-align: start;
      }
    }

    // .why-we__text

    &__text {
      line-height: 24px;
    }
  }

  // May interest=====================
  // =================================

  .may-interest {
    // .may-interest__container

    &__container {
    }

    // .may-interest__block-title

    &__block-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 20px;
      }
    }

    // .may-interest__title

    &__title {
    }

    // .may-interest__tabs

    .may-interest-tabs {
      display: flex;
      column-gap: 40px;

      // .may-interest-tabs__tab

      &__tab {
        position: relative;
        padding-bottom: 5px;
        cursor: pointer;
        @media (hover: hover) {
          &:hover::before {
            width: 60%;
          }
        }
        &.tab-active::before {
          width: 60%;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background-color: #000;
          transition: width 0.3s;
        }
      }
    }
    .tab-body__item{
      display: none;
      &.tab-body-active{
        display: block;
      }
    }
    .tab-body-item-two {

      &__wrapper{
        display: flex;
        gap: 20px;
        @media screen and (max-width: 1240px) {
          flex-direction: column;
        }
      }

      // .tab-body-item-two__big-block
  
      .big-block {
        width: 40%;
        padding: 20px;
        border: 1px solid #e4e4e4;
        border-radius: 4px;
        position: relative;
        @media screen and (max-width: 1240px) {
          margin: 0 auto;
        }
        @media screen and (max-width: 992px) {
          display: none;
        }
        a{
          display: flex;
          justify-content: center;
        }
        ._icon-like{
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 24px;
        }
      
          // .big-block__img
      
          &__img {

          }
      
          // .big-block__info
      
          &__info {
          }
      
          // .big-block__sub-nume
      
          &__sub-nume {
            color: #767676;
            font-size: 14px;
          }
      
          // .item-two__name
      
          &__name {
            margin-bottom: 8px;
          }
      
          // .item-two__block-price
      
          &__block-price {
          }
      
          // .item-two__price
      
          &__price {
            display: inline-block;

            font-size: 26px;
            font-weight: 700;
          }
      
          // .item-two__pld-price
      
          &__pld-price {
            color: silver;
            position: relative;
            &::before {
              content: "";
              display: block;
              background: $colorOreng;
              position: absolute;
              top: calc(50% - 1px);
              left: 0;
              width: 100%;
              height: 1px;
              transform: rotate(358deg);
            }
          }
          
          &__ends{
            margin: 30px 0;
          }

          &__progress-bar{
            width: 100%;
            height: 4px;
            margin-bottom: 10px;
            background-color: rgba(228, 228, 228, 1);
            position: relative;
            border-radius: 4px;
            span{
              position: absolute;
              top: 0; left: 0;
              height: 100%;
              background-color: $colorOreng;
            }
          }

          &__label{
            font-size: 14px;
            color: $colorSilver;
            span{
              color: #525252;
            }
          }

          // .big-block__block-btn
          .big-block-btn {
            .tab-body-btn__btn{
              color: #fff;
          padding: 20px 90px;
            }
      
            display: flex;
        align-items: center;
        margin-top: 30px;
        column-gap: 15px;
        transition: all 0.3s;
        // .product-block-btn__wrapper-namber

        &__wrapper-namber {
          font-size: 18px;
          border: 1px solid rgba(228, 228, 228, 1);
          border-radius: 4px;
          column-gap: 15px;
          padding: 17px;
        }

        // .product-block-btn__minus

        &__minus,
        &__plus {
          border: none;
          background: transparent;
        }

        // .product-block-btn__namber

        &__namber {
        }

        // .product-block-btn__btn

        }
      }
    

  
      // .tab-body-item-two__swiper
  
      .item-two {
        width: 60%;
        @media screen and (max-width: 1240px) {
          width: 100%;
        }
        @media screen and (max-width: 992px) {
          padding-bottom: 50px;
        }

        // .item-two__swiper-wrapper
    
        &__swiper-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          column-gap: 20px;
          row-gap: 15px;
          @media screen and (max-width: 992px) {
            gap: 0;
            display: flex;
          }
        }
    
        // .item-two__swiper-slide
    
        &__swiper-slide {
          width: 100%;
          padding: 20px;
          border: 1px solid rgba(228, 228, 228, 1);
          border-radius: 4px;
          position: relative;
          a{
            display: block;
            position: relative;
            text-decoration: none;

          }
          ._icon-like{
            position: absolute;
            top: 20px;
            right: 20px;
          }
        }
    
        // .item-two__img
    
        &__img {
          width: 100%;
        }
    
        // .item-two__info
    
        &__info {
        }
    
        // .item-two__sub-nume
    
        &__sub-nume {
          color: #767676;
          font-size: 14px;
        }
    
        // .item-two__name
    
        &__name {
          margin-bottom: 8px;
        }
    
        // .item-two__block-price
    
        &__block-price {
        }
    
        // .item-two__price
    
        &__price {
          display: inline-block;
          font-size: 26px;
          font-weight: 700;
          @media screen and (max-width: 1240px) {
            display: block;
          }
        }
    
        // .item-two__pld-price
    
        &__pld-price {
          color: silver;
          position: relative;
          &::before {
            content: "";
            display: block;
            background: $colorOreng;
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 1px;
            transform: rotate(358deg);
          }
        }

        .item-two-block-btn {
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          column-gap: 15px;
          transition: all 0.3s;
          display: none;
          @media screen and (max-width: 992px) {
            display: flex;
          }
  
          &__wrapper-namber {
            border: 1px solid rgba(228, 228, 228, 1);
            border-radius: 4px;
            column-gap: 15px;
            padding: 10px;
          }
  
  
          &__minus,
          &__plus {
            border: none;
            background: transparent;
          }
        
          &__btn {
            color: #fff;
            @media screen and (max-width: 650px) {
              padding: 14px 18px;
            }
            @media screen and (max-width: 350px) {
              padding: 14px 50px;
            }
          }
        }
    }

}

  .swiper {
  }
  .swiper-wrapper {
  }
  .tab-body {
  
      // .tab-body__swiper-pagination
  
      &__swiper-pagination {
        display: none;
        position: absolute;
        bottom: 0; left: 50%;
        transform: translate(-50%);
        width: auto;
        @media screen and (max-width: 992px) {
          display: flex;
        }
      }
  }
  
  }

  // =================================
}

// ===================================
// Footer ============================

.footer {
  // .footer__info

  .footer-info {
    border-top: 1px solid rgba(228, 228, 228, 1);
    border-bottom: 1px solid rgba(228, 228, 228, 1);
    padding: 100px 0;
    @media screen and (max-width: 768px) {
      padding: 40px 0;
    }
    // .footer-info__container

    &__container {
    }

    .footer-dont-miss {
      max-width: 700px;
      margin: 0 auto;

      // .footer-dont-miss__text

      &__text {
        font-size: 26px;
        margin-bottom: 15px;
        @media screen and (max-width: 768px) {
          text-align: center;
          font-size: 18px;
        }
      }

      // .footer-dont-miss__sub-text

      &__sub-text {
        text-align: center;
        color: $colorSilver;
      }

      // .footer-dont-miss__form

      .dont-miss-form {
        display: flex;
        margin-top: 37px;
        gap: 20px;
        position: relative;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        // .dont-miss-form__item

        &__item {
          max-width: 550px;
          width: 100%;
          @media screen and (max-width: 768px) {
            max-width: 100%;
          }
        }

        label {
          position: absolute;
          top: -10px;
          left: 10px;
          background: #fff;
          padding: 0 3px;
        }

        // .dont-miss-form__input

        &__input {
          width: 100%;
          height: 60px;
          padding: 0 20px;
          border-radius: 4px;
          border: 1px solid rgba(228, 228, 228, 1);
          outline: none;
          &:focus {
            border: 1px solid #000;
          }
        }

        // .dont-miss-form__btn

        &__btn {
          @media screen and (max-width: 768px) {
            padding: 20px 0;
          }
        }
      }
    }

    .footer-info-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 70px;
      flex-wrap: wrap;
      // .footer-info-wrapper__name

      &__block {
        padding: 20px;
      }
      &__name {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      // .footer-info-wrapper__list

      // .footer-info-wrapper__item

      &__list {
        margin-bottom: 20px;
        li {
          list-style: none;
          color: $colorSilver;
        }
        a {
          text-decoration: none;
          @media (hover: hover) {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .item-center {
        @media screen and (max-width: 992px) {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
      }
      .item-retreat {
        margin-top: 50px;
        margin-right: 40px;
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      &__item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      // .footer-info-wrapper__link

      &__link {
        color: $colorSilver;
      }

      // .footer-info-wrapper__logo

      &__logo {
        margin-bottom: 20px;
      }

      // .footer-info-wrapper__adres

      &__adres {
        text-decoration: none;
        display: block;
        color: #000;
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      // .footer-info-wrapper__phone

      &__phone {
        text-decoration: none;
        display: block;
        margin: 20px 0;
        font-size: 24px;
        font-weight: 700;
        color: #000;
        @media (hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }

      // .footer-info-wrapper__applications

      .applications {
        display: flex;
        gap: 30px;

        // .applications__link

        &__link {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 14px;
          text-decoration: none;
          color: #000;
          & img {
            margin-bottom: 5px;
          }
        }
      }
    }
    .pay-block {
      position: absolute;
      bottom: 20px;
      right: 170px;
      @media screen and (max-width: 992px) {
        position: relative;
        top: 0;
        left: 0;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
        text-align: center;
      }

      // .pay-block__link

      &__link {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }

      // .pay-block__img

      &__img {
      }
    }
  }

  // .footer__autor

  .footer-autor {
    // .footer-autor__container

    &__container {
      display: flex;
      justify-content: space-between;
      padding: 40px 20px;
      @media screen and (max-width: 768px) {
        padding: 20px;
      }
    }

    // .footer-autor__year

    &__year {
    }

    // .footer-autor__kifa

    &__kifa {
    }

    // .footer__btn-start
  }

  &__btn-start {
    position: fixed;
    right: 30px;
    bottom: 50px;
    background-color: #fff;
    padding: 15px 16px;
    border: 1px solid rgba(118, 118, 118, 1);
    border-radius: 50%;
    color: rgba(118, 118, 118, 1);
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 10;
    transform: scale(0);
    &.btn-start-active {
      transform: scale(1);
    }
    span {
      font-size: 14px;
      transform: rotate(90deg);
      display: block;
    }
  }
}

// ===================================
